.NavBar {
  width: 99vw;
  height: 50px;
  background-color: #1E242F;
  border-bottom: 3px solid #C01E6C;
}

.NavBar-Container {
  margin: 0% 15% 0% 15%;
}

.NavBar-Link {
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.Page-About {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  width: 99vw;
  height: 100vh;
}

.Page-Title {
  margin: 3% 0% 3% 0%;
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
  color: #46474A;
}

.Page-About-Container {
  background-color: #F5F5F5;
  color: #626262;
  height: 70%;
  width: 60%;
}
