.Page-About {
  display: flex;
  background: #FFFFFF;
  width: 99vh;
  height: 100vh;
}

.NavBar {
  width: 99vw;
  height: 50px;
  background-color: #1E242F;
  border-bottom: 3px solid #C01E6C;
}

.NavBar-Container {
  margin: 0% 15% 0% 15%;
}

.NavBar-Link {
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
