:root {
    scroll-behavior: smooth;
  --Background-A: #F5F5F5;
  --Background-B: #FFFFFF;
  --Background-C: #262934;
  --Contact-Box: #20242C;
  --NavBar: #1E242F;
  --Heading-Text: #46474A;
  --Body-Text: #626262;
  --Highlight: #61FAAE;
}

.NavBar {
  width: 99vw;
  height: 50px;
  background-color: var(--NavBar);
  border-bottom: 5px solid var(--Highlight);
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

.NavBar-Container {
  margin: 0% 15% 0% 15%;
}

.NavBar-Link {
  text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  transition: 0.3s;
}

.NavBar-Link:hover {
  text-decoration: none;
  color: #61FAAE;
}
