.Page-About {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  width: 99vw;
  height: 100vh;
}

.Page-Title {
  position: relative;
  margin: 3% 0% 3% 0%;
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
	font-size: 24pt;
  color: var(--Heading-Text);
}

/*.Page-Title:after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 80px;*/
/*  height: 3px;*/
/*  bottom: 0%;*/
/*  left: 25%;*/
/*  border-bottom: 3px solid var(--Heading-Text);*/
/*}*/

.Page-About-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--Background-A);
  height: 70%;
  width: 60%;
}

.Page-About-Title-Bar{
 margin: 0% 4% 2% 4%;
 display: flex;
 justify-content: space-between;
}

.Page-About-Greeting {
  display: inline;
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
	font-size: 24pt;
  color: var(--Heading-Text); 
}

.Page-About-Bio {
  font-size: 16pt;
  color: var(--Body-Text);
  margin: 0% 4% 2% 4%;
}

.Headshot {
	border-radius:50%;
  border: 5px solid var(--Highlight);
	width:300px;
  margin: 2% auto 4% auto;
}

.Links {
  display: flex;
  flex-direction: row;
}

.Icon-Container {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--NavBar);
  color: white;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}

.Icon {
  font-size: 20pt;
  color: white;
}
