.Page-About {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}

.Page-Title {
/*  position: relative;*/
  margin: 3% 0% 3% 0%;
	font-family: 'Raleway', sans-serif;
  font-weight: 900;
	font-size: 30pt;
  color: var(--Heading-Text);
}

.Page-About-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--Background-A);
  padding: 50px;
  width: 60%;
}

.Page-About-Title-Bar {
 display: flex;
 justify-content: space-between;
}

.Page-About-Greeting {
  display: inline;
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
	font-size: 24pt;
  color: var(--Heading-Text); 
}

.Page-About-Bio {
  font-size: 16pt;
  color: var(--Body-Text);
  background:var(--Background-A);
}

.Headshot {
	border-radius:50%;
  border: 5px solid var(--Highlight);
	width: 200px;
  margin: 2% auto 4% auto;
}

.Links {
  display: flex;
  flex-direction: row;
}

.Icon-Container {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--NavBar);
  color: white;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}

.Icon {
  font-size: 16pt;
  color: white;
}



/* Styling for smartphones and tablets */
@media only screen and (max-width: 600px) {
   .Page-Title {
  /*  position: relative;*/
	  font-size: 20pt;
  }

  .Headshot {
	  width:150px; 
  }

  .Page-About-Greeting {
	  font-size: 20pt;
    text-align: center;
    
  }

  .Page-About-Bio {
    font-size: 16pt;
  }

  .Page-About-Container {
    width: 100%;
  }

  .Links {
  display: none;
  }
}
